<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineTrendy</title>
    <link rel="stylesheet" href="css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f76534a51c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>

        <section class="Portada">
            <nav class="Navbar">
                <button class="Navbar-btn"><i class="fa-solid fa-bars"></i></button>
                <h1 class="Navbar-titulo">CineTrendy</h1>
                <button class="Navbar-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </nav>
            <div class="Portada-div">
                <img class="Portada-div-img" src="<%=BASE_IMAGE_URL + popularMovies[0].backdrop_path %>" alt="">
                <div class="Portada-divInfo">
                    <div>
                        <h2 class="Portada-divInfo-tit"><%= popularMovies[0].title %></h2>
                        <p class="Portada-divInfo-desc"><%= popularMovies[0].overview %></p>
                    </div>
                        <p class="Portada-divInfo-punt">Puntuacion: <%= popularMovies[0].vote_average %></p>
                </div>
                <div class="contenedor-secundario">
                    <div class="contenedor-card">
                        <img class="card__image" src="<%= BASE_IMAGE_URL + popularMovies[1].poster_path %>" alt="">
                        <h2 class="card__titulo"><%= popularMovies[1].title %></h2>
                    </div>
                    <div class="contenedor-card">
                        <img class="card__image" src="<%= BASE_IMAGE_URL + popularMovies[2].poster_path %>" alt="">
                        <h2 class="card__titulo"><%= popularMovies[2].title %></h2>
                    </div>
                    <div class="contenedor-card">
                        <img class="card__image" src="<%= BASE_IMAGE_URL + popularMovies[3].poster_path %>" alt="">
                        <h2 class="card__titulo"><%= popularMovies[3].title %></h2>
                    </div>
                    <div class="contenedor-card">
                        <img class="card__image" src="<%= BASE_IMAGE_URL + popularMovies[4].poster_path %>" alt="">
                        <h2 class="card__titulo"><%= popularMovies[4].title %></h2>
                    </div>
                </div>
            </div> 
        </section>

    </header>
    <main>

        <section id="trending">
            <div class="trending__div-btn">
                <button id="js-btn-populares" class="btn-trending btn-trending__active">Populares</button>
                <button id="js-btn-estrenos" class="btn-trending">Mejor Calificadas</button>
            </div>
            <div class="slider-container">
                <div class="slider">
                    <div class="slider-card">
                        <% for( let i = 0; i < 10; i++ ) { %>
                            <div class="trending-card">
                                <img class="trending-card__imagen" src="<%= BASE_IMAGE_URL + popularMovies[i].poster_path %>" alt="">
                                <p class="trending-card__pntj"><%= popularMovies[i].vote_average.toFixed(1) %></p>
                                <h3 class="trending-card__titulo"><%= popularMovies[i].title %></h3>
                                <p class="trending-card__descripcion"><%= popularMovies[i].overview %></p> 
                            </div>
                        <% } %>
                    </div>
                    <div class="slider-card">
                        <% for( let i = 0; i < 10; i++ ) { %>
                            <div class="trending-card">
                                <img class="trending-card__imagen" src="<%= BASE_IMAGE_URL + topRatedList[i].poster_path %>" alt="">
                                <p class="trending-card__pntj"><%= topRatedList[i].vote_average.toFixed(1) %></p>
                                <h3 class="trending-card__titulo"><%= topRatedList[i].title %></h3>
                                <p class="trending-card__descripcion"><%= topRatedList[i].overview %></p>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>

        <section class="upComing">
            <h2 class="upComing-title">Mejores calificadas</h2>
            <div class="upComing-div">
                <div class="upComing-div--info">
                    <h3 class="upComing-div-titulo">titulo</h3>
                    <p class="upComing-div-descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro optio non recusandae vero, voluptate facere temporibus nostrum quos exercitationem voluptatibus, minus perferendis, hic explicabo? Dolores voluptatum et natus voluptas ut.</p>
                </div>
                <div class="upComing-div--carrusel">
    
                    <button class="upComing-carrusel-btn js-btn-left"><i class="fa-solid fa-chevron-left"></i></button>
                    
                    <div class="upComing-carrusel-div--contenedor">
                        <div class="upComing-carrusel-slider js-div-carrusel">
                            <% for( let i = 0; i < 10; i++ ) { %>
                            <div class="upComing-slider-card js-slider-card">
                                <img class="upComing-slider-card__imagen" src="<%= BASE_IMAGE_URL + topRatedList[i].poster_path %>" alt="">
                            </div>
                            <% } %>
                        </div>
                    </div>
    
                    <button class="upComing-carrusel-btn js-btn-rigth"><i class="fa-solid fa-chevron-right"></i></button>
                
                </div>
                
            </div>
        </section>

    </main>

    <footer class="Footer">
        <p class="Footer-parrafo">&#169 Sebastian Bernachia 2024</p>
    </footer>
    
    <script type="module" src="scripts/main.js"></script>
</body>
</html>